.table-container {
    padding: 0 5% 0 5%;
}

table {
    align-content: center;
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
}

thead th {
    border: 1px solid #333333;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

tbody td {
    border: 1px solid #CCCAD2;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

tfoot td {
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}