.table-container {
    padding: 0 5% 0 5%;
}

table {
    align-content: center;
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
}
thead th {
    border: 1px solid #333333;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

tbody td {
    border: 1px solid #CCCAD2;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

tfoot td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.clients-list {
    margin: 20px 0 20px 0;
    background-color: white;
    align-content: center;
    table-layout: auto;
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
    border: 2px solid #827A98;
}

.clients-list__name {
    text-align: start;
}

.clients-list__phone {
    color: #A49FB0;
    text-align: end;
}

.hover-select:hover {
    background-color: #CCCAD2;
}